POSTGRES_DB=bcb
POSTGRES_USER=bcb
POSTGRES_PASSWORD=bcb_dev_password
POSTGRES_PORT=5432
REDIS_PORT=6379
BACKEND_PORT=8080
FRONTEND_PORT=3000
JWT_SECRET=change-this-development-secret-32-chars
RUN_MIGRATIONS=true
ADMIN_LOGIN=admin
ADMIN_PASSWORD=ChangeThisAdminPassword123!
